@page "/"
@using SpawnDev.BlazorJS.JSObjects

<PageTitle>SpawnDev.BlazorJS.MessagePack</PageTitle>

<h1>SpawnDev.BlazorJS.MessagePack</h1>

<p>
    This demo converts text to binary using MessagePack Javascript library and SpawnDev.BlazorJS.MessagePack
</p>

<div>
    <textarea style="width: 600px; word-wrap: break-word; white-space: normal;" @bind=@incoming></textarea>
    <button @onclick=@Submit>Pack</button>
</div>
<div>
    <pre style="width: 600px; word-wrap: break-word; white-space: normal;">@((MarkupString)outgoing)</pre>
</div>
<div>
    <pre style="width: 600px; word-wrap: break-word; white-space: normal;">@((MarkupString)readback)</pre>
</div>

@code {
    string outgoing = "";
    string incoming = "";
    string readback = "";

    void Submit()
    {
        // encode using MessagePack to a Uint8Array
        using Uint8Array uint8Array = MessagePack.Encode(incoming);
        // the Uint8Array could now be sent over WebRTC, saved to file, etc.
        // for this demo we are converting to hex and displaying it
        var bytes = uint8Array.ReadBytes();
        outgoing = Convert.ToHexString(bytes);
        // demo decode
        readback = MessagePack.Decode<string>(uint8Array);
    }
}